@media screen and (min-width: 600px) {
  .slider-button {
    display: none;
  }

  .main__card--slider {
    display: inline-flex;
    overflow-x: scroll;
    scroll-snap-type: proximity;
    scroll-margin: 0 100px 0 0;
    justify-content: left;
  }

  .main__card--slider article {
    margin-right: 100px;
  }

  .main__card--slider article:nth-of-type(1) {
    margin-left: 100px;
  }

  .main__card--slider:last-child {
    content: "";
    border-right: 30px solid transparent;
  }
}
