/* Inicio variables */
:root {
  /* Colores principales */
  --main-color: #83c5be;
  --secondary-color: #006d77;
  /* Colores de background */
  --background-1: #edf6f9;
  --background-2: #f9ffff;
  /* Colores complementarios - énfasis */
  --emphasis-color: #e29578;
  --emphasis-color-2: #ffddd2;
  --emphasis-color-3: #013bda;
  --emphasis-color-4: #1340bb;
  /* Colores complementarios - Botones */
  --button-1: #bd8a2e;
  --button-2: #d8bf53;
  /* Colores de texto */
  --black-text: #140804;
  --text-color-2: #f5edea;
  /* Textos */
  --font-titles: "Josefin Sans", sans-serif;
  --font-default: "Lato", sans-serif;
  /* Alturas */
  --header-height: 70px;
  --footer-height: 40px;
  --modal-header-height: 40px;
  --modal-footer-height: 30px;
}

/* Fin de variables */

/* Inicio de configuración universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-default);
  color: var(--black-text);
}

html {
  font-size: 62.5%;
  overflow: none;
}

body {
  width: 100vw;
  height: 100vh;
}

/* Fin de configuración universal */

/* Inicio de propiedades de **header** */

/* Configuración general de header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  background-color: var(--background-1);
  /* Background hexagonal */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23006d77' fill-opacity='0.15'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.header__logo {
  padding-left: 15px;
}
/* Fin de configuración general de header */

/* Configuración de Hamburger button  */
/* Container del hamburger button  */
.hamburger {
  padding: 5px 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: var(--secondary-color);
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
/* Configuración de las líneas del hamburger button  */
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--secondary-color);
}

.hamburger-box {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}

.hamburger:focus {
  outline: none;
}

/* Dibujar las líneas del hamburger button */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 100%;
  height: 4px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/* Configuración de la animación del hamburger button (Spring) | -is active desactivado */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}
.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* Configuración de la animación del hamburger button (Spring) | -is active activado */
.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent;
}
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}
/* Fin hamburger button */

/* Fin de propiedades de **header** */

/* Inicio de propiedades de **main** */
/* Inicio configuración general de main  */
.main {
  position: relative;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 100vw;
}
/* Fin configuración general de main */

/* Inicio de configuración de menú */
.main__menu {
  position: absolute;
  width: 100vw;
  height: 0;
  overflow: hidden;
  clip-path: circle(0px at top right);
  background: rgba(0, 109, 119, 0.8);
  z-index: 5;
  transition: 0.5s;
}

.menu-open {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  clip-path: circle(150% at top right);
}

.main__menu--header {
  padding: 30px 15px 0;
  display: grid;
  grid-template-columns: 70px 1fr;
  margin-bottom: 20px;
}

.main__menu--user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.main__menu--user-container p,
.main__menu--user-container strong {
  color: var(--text-color-2);
  font-family: var(--font-titles);
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.main__menu--user-container strong {
  color: var(--emphasis-color-2);
}

.main__menu--user-name {
  margin-bottom: 15px;
}

.main__menu--icon {
  width: 70px;
  height: 70px;
  background-image: url(../assets/icons/user.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main__menu--options ul {
  padding: 3rem 2.5rem;
  list-style: none;
  font-size: 1.4rem;
}

.main__menu--options li {
  font-weight: bold;
  padding-bottom: 1rem;
}

/* Configuración de animación de links del menú */
.main__menu--options a {
  position: relative;
  color: var(--text-color-2);
  text-decoration: none;
}

.main__menu--options a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--text-color-2);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.main__menu--options a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* Fin de configuración de animación de links del menú */
/* Fin de configuración de menú */

/* Configuración de slider */
.main__card--slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 320px;
  background-color: #fffbfa;
  /* Fondo rectangular */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23006d77' fill-opacity='0.18'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/* Fin de configuración de slider */

/* Configuración de tarjetas de productos */
/* Configuración general */
.main__card--slider article {
  width: 80%;
  min-width: 256px;
  max-width: 330px;
  height: 80%;
  padding: 15px;
  min-height: 424px;
  max-height: 500px;
  border-radius: 10px;
  background-color: var(--background-2);
  box-shadow: 4px 6px 8px 1px rgba(0, 0, 0, 0.1);
}

.main__card--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.main__card--title-container h3,
.main__card--title-container p {
  font-family: var(--font-titles);
  text-align: end;
}

.main__card--title-container h3 {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: bold;
  color: var(--emphasis-color);
}

.main__card--title-container p {
  font-size: 1.2rem;
  font-weight: lighter;
}
/* Fin de configuración general */

/* Inicio de configuración de botones */
.main__card--button-container {
  width: 80%;
  margin: 15px auto 0;
}

.main__card--button {
  background-color: var(--button-1);
  border: none;
  color: var(--background-2);
  outline: none;
  margin-bottom: 20px;
  padding: 10px 15px;
  position: relative;
  width: 100%;
  font-family: var(--font-titles);
  font-weight: bold;
}
.main__card--button:before,
.main__card--button:after {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.main__card--button:before {
  border-top: 2px solid var(--button-2);
  left: 0px;
  top: -5px;
}

.main__card--button:after {
  border-bottom: 2px solid var(--button-2);
  bottom: -5px;
  right: 0px;
}
.main__card--button:hover {
  background-color: var(--button-1);
}
.main__card--button:hover:before,
.main__card--button:hover:after {
  height: 100%;
  width: 100%;
}
/* Fin de configuración de botones */

/* Configuración de tarjeta de ahorros */
.main__card--savings__icon {
  width: 50px;
  height: 50px;
  background-image: url(../assets/icons/savings.svg);
  fill: var(--secondary-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__card--total-amount {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--emphasis-color-3);
  font-size: 3rem;
}

.main__card--total-amount span {
  font-size: 1.2rem;
  vertical-align: 12px;
  color: var(--emphasis-color);
}

/* Grid de tarjeta de cuenta de ahorros y tarjeta de crédito */
.main__card--table-title {
  font-size: 1.4rem;
  font-family: var(--font-titles);
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.main__card--detail--grid {
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  column-gap: 5px;
  width: 100%;
}

.main__card--detail,
.main__card--amount {
  padding: 5px 0;
  border-bottom: 1px solid var(--emphasis-color-2);
}

.main__card--detail:nth-of-type(1),
.main__card--amount:nth-of-type(2) {
  border-top: 1px solid var(--emphasis-color-2);
}

.main__card--detail-date {
  font-family: var(--font-titles);
  font-weight: bold;
  font-size: 1.2rem;
}

.main__card--detail-concept {
  padding-left: 5px;
  font-size: 1.2rem;
}

.main__card--amount {
  display: flex;
  text-align: right;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main__card--amount p {
  width: 100%;
  text-align: right;
}

.main__card--amount-debit,
.main__card--amount-debit span {
  color: var(--emphasis-color-4);
  font-weight: bold;
}

.main__card--amount-credit {
  font-weight: bold;
}

.main__card--amount-credit:before {
  content: "(";
}

.main__card--amount-credit:after {
  content: ")";
}

.main__card--amount-credit span,
.main__card--amount-debit span {
  font-size: 0.9rem;
}
/* Fin de configuración de propiedades de tarjeta de cuenta de ahorros  */
/* Configuración de tarjeta de credit card */
.main__card--cc__icon {
  width: 50px;
  height: 50px;
  background-image: url(../assets/icons/card.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__card-cc--bar {
  height: 6px;
  border-radius: 3px;
  background: var(--emphasis-color-2);
  background: linear-gradient(
    90deg,
    var(--emphasis-color-2) 0%,
    var(--background-1) 22%,
    var(--emphasis-color) 100%
  );
  background-color: var(--emphasis-color-2);
}

/* Fin de configuración de tarjeta de credit card */
/* Configuración de tarjeta de inversiones */
.main__card--investing__icon {
  width: 50px;
  height: 50px;
  background-image: url(../assets/icons/investing.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__card--investing__history {
  width: 90%;
  margin: 0 auto;
}

.main__card--investing__history h3 {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: var(--font-titles);
  margin-bottom: 5px;
}

.main__card--investing__history figure {
  justify-self: center;
  margin-bottom: 15px;
}

.main__card--investing__history figcaption {
  padding-top: 5px;
}

.main__card--investing__value--decrease {
  color: red;
}

.main__card--investing__value--increase {
  color: green;
}

.main__card--investing__date {
  background-color: var(--emphasis-color-2);
  line-height: 1.4rem;
  padding: 1px 5px;
  border-radius: 2px;
}

.main__card--investing__history figure img {
  width: 200px;
  display: block;
  margin: 0 auto;
}
/* Configuración de tarjeta de inversiones */

/* Configuración de tarjeta de otros */
.main__card--other__icon {
  width: 50px;
  height: 50px;
  background-image: url(../assets/icons/other.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Fin de configuración de tarjeta de otros */
/* Fin de configuración de tarjetas */

/* Configuración de botones de slider */
.slider-button {
  border: none;
  display: inline-block;
  padding: 8px 10px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.slider-display-left {
  border-radius: 5px 2px 2px 5px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}
.slider-display-right {
  border-radius: 2px 5px 5px 2px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.slider-color {
  color: var(--background-1);
  background-color: var(--secondary-color);
}
/* Fin de configuración de botones de slider */
/* Fin de propiedades de **main** */

/* Inicio de propiedades de **modal** */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.main__modal--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10vh auto 0;
  padding: 5px 20px;
  height: var(--modal-header-height);
  width: 80%;
  background-color: var(--secondary-color);
}

.main__modal--header h3 {
  font-size: 1.4rem;
  color: var(--background-1);
}

/* Modal Content/Box */
.main__modal--body {
  background-color: var(--background-2);
  margin: 0 auto; /* 15% from the top and centered */
  padding: 20px;
  height: calc(80vh - var(--modal-footer-height) - var(--modal-header-height));
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.main__modal--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto 10vh;
  height: var(--modal-footer-height);
  background-color: var(--secondary-color);
}

/* The Close Button */
.close {
  color: var(--background-1);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--black-text);
  text-decoration: none;
  cursor: pointer;
}

/* Fin de propiedades de **modal** */

/* Inicio de propiedades de **footer** */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  background-color: var(--secondary-color);
  font-size: 1.4rem;
}

.footer p {
  color: var(--text-color-2);
}

.footer a {
  text-decoration: none;
  color: var(--text-color-2);
}
/* Fin de propiedades de **footer** */
